body {
  background-color: black;
}
h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  background-color:rgb(148, 10, 10);
  border: white solid; height: 40px; width: 370px;
}
h2 {
  color: white;
  background-color: black;
  border: red solid; height: 30px; width: 200px;
}
a {
  color: red;
  
}
h4 {
  color: white;
}
p {
  color: white;
}
q {
  color: white;
}
.História{ border-color: red solid; }
input { 
  color: rgb(255, 255, 255);
  background-color:red;
} 
input:hover{
  color: black;
  background-color: yellow;
}
div>a:hover{
  color: black;
  background-color: blue;