body {
  background-color: black;
}
h1 {
  color: white;
  background-color: black;
  border: red solid;
}
h2 {
  color: white;
  background-color: black;
  border: red solid;
}
a {
  color: red;
  
}
h4 {
  color: white;
}
p {
  color: white;
}
q {
  color: white;
}
.História{ border-color: red solid; }
input { 
  color: black;
  background-color:red;
}
